<footer>
  <div class="footer-links">
    <div class="link-category">
      <h4>Masculino</h4>
      <ul>
        <li><a href="#">Link 1</a></li>
        <li><a href="#">Link 2</a></li>
      </ul>
    </div>
    <div class="link-category">
      <h4>Feminino</h4>
      <ul>
        <li><a href="#">Link 1</a></li>
        <li><a href="#">Link 2</a></li>
      </ul>
    </div>
    <div class="link-category">
      <h4>Outlet</h4>
       <ul>
        <li><a href="#">Link 1</a></li>
      </ul>
    </div>
     <div class="link-category">
      <h4>Nossas lojas</h4>
       <ul>
        <li><a href="#">Link 1</a></li>
      </ul>
    </div>
     <div class="link-category">
      <h4>Sobre</h4>
       <ul>
        <li><a href="#">Link 1</a></li>
      </ul>
    </div>
  </div>
  <div class="social-media">
    <a href="#"><img src="images/icons/facebook.svg" alt="Facebook"></a>
    <a href="#"><img src="images/icons/instagram.svg" alt="Instagram"></a>
    <a href="#"><img src="images/icons/twitter.svg" alt="Twitter"></a>
  </div>
  <div class="copyright">
    <p>&copy; 2025 syntaxwear. Todos os direitos reservados.</p>
  </div>
</footer>