<footer class="footer">

  <div class="footer__container">
    <div class="footer__subscribe">
      <h3>Inscreva-se em nosso e-mail</h3>
      <form class="footer__form">
        <input type="email" placeholder="email@email.com" aria-label="Digite seu e-mail">
      </form>

      <div class="footer__socials">
        <h3>Redes sociais</h3>
        <ul>
          <li><a href="#" aria-label="Instagram"><i class="icon-instagram"></i></a></li>
          <li><a href="#" aria-label="WhatsApp"><i class="icon-whatsapp"></i></a></li>
          <li><a href="#" aria-label="TikTok"><i class="icon-tiktok"></i></a></li>
          <li><a href="#" aria-label="Facebook"><i class="icon-facebook"></i></a></li>
        </ul>
      </div>
    </div>

    <div class="footer__links">
      <div class="footer__column">
        <h4>Masculino</h4>
        <ul>
          <li><a href="#">Casual</a></li>
          <li><a href="#">Esporte</a></li>
          <li><a href="#">Moderno</a></li>
          <li><a href="#">Futurista</a></li>
        </ul>
      </div>

      <div class="footer__column">
        <h4>Feminino</h4>
        <ul>
          <li><a href="#">Casual</a></li>
          <li><a href="#">Esporte</a></li>
          <li><a href="#">Moderno</a></li>
          <li><a href="#">Futurista</a></li>
        </ul>
      </div>

      <div class="footer__column">
        <h4>Outlet</h4>
        <ul>
          <li><a href="#">Masculino</a></li>
          <li><a href="#">Feminino</a></li>
        </ul>
      </div>

      <div class="footer__column">
        <h4>Nossas lojas</h4>
        <ul>
          <li><a href="#">Loja física</a></li>
          <li><a href="#">Loja online</a></li>
        </ul>
      </div>

      <div class="footer__column">
        <h4>Sobre</h4>
        <ul>
          <li><a href="#">Quem somos</a></li>
          <li><a href="#">Missão</a></li>
        </ul>
      </div>
    </div>
  </div>

  <div class="footer__bottom">
    <hr>
    <p>Copyright. All Rights Reserved</p>
  </div>
  
</footer>