<header>
  <div class="logo">syntaxwear</div>
  <nav>
    <ul>
      <li><a href="#">Masculino</a></li>
      <li><a href="#">Feminino</a></li>
      <li><a href="#">Outlet</a></li>
      <li><a href="#">Nossas lojas</a></li>
      <li><a href="#">Sobre</a></li>
    </ul>
  </nav>
  <div class="icons">
    <a href="#"><img src="images/icons/user.svg" alt="Usuário"></a>
    <a href="#"><img src="images/icons/search.svg" alt="Busca"></a>
    <a href="#"><img src="images/icons/cart.svg" alt="Carrinho"></a>
  </div>
</header>