<section class="categories__container">

  <div class="categories__content">

    <div class="category__card casual">
      <a href="#" class="category__link">
        <span class="overlay"></span>
        <span
        class="category__name">Casual</span>
      </a>
    </div>

    <div class="category__card esporte">
      <a href="#" class="category__link">
        <span class="overlay"></span>
        <span
        class="category__name">Esporte</span>
      </a>
    </div>

    <div class="category__card colorido">
      <a href="#" class="category__link">
        <span class="overlay"></span>
        <span
        class="category__name">Colorido</span>
      </a>
    </div>

    <div class="category__card futurista">
      <a href="#" class="category__link">
        <span class="overlay"></span>
        <span
        class="category__name">Futurista</span>
      </a>
    </div>

  </div>

</section>