<section class="grid__container">
    <div class="grid__card top1">
        <div class="top1__content">
            <h3 class="top1__title">Krypton One</h3>
            <p class="top1__subtitle">Estilo urbano com atitude</p>
            <div class="top1__group">
                <a href="#" class="btn btn-outline">Feminino</a>
                <a href="#" class="btn btn-outline">Masculino</a>
            </div>
        </div>
    </div>
    <div class="grid__card top2"></div>
    <div class="grid__card midL"></div>
    <div class="grid__card midR"></div>
    <div class="grid__card bottomL"></div>
    <div class="grid__card bottomR"></div>
</section>